body {
  background-color: green;
}
.base-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  position: absolute;
  top: 5%;
  left: 1%;
  transform: translate(-1%,-5%);
}
.base-btn {
    padding: 10px;
    font-size: 14px;
    border: none;
    color: #000;
    border-radius: 10px;
    width: 280px;
    font-weight: bold;
}
.base-btn:hover {
    opacity: 0.8;
    transition: ease all 0.5;
    cursor: pointer;
}
.table {
  width: 100%;
  height: 300px;
  margin: auto;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 29% 45% 10%;
}

.cards {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
  justify-content: center;
  gap: 5px;
  padding-top: 10px;
  margin-top: 10px;
}

.cardStyle {
  display: flex;
  width: 90px;
  height: 110px;
  gap: 5px;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}

.cardStyle:hover {
  box-shadow: 0px 0px 10px;
  background-color: antiquewhite;
  transform: translateY(10px);
}

#yourCards .cardStyle:hover {
  transform: translateY(-10px) !important;
}

#supplies {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#supplies .cardStyle:hover {
  transform: translateX(-5px);
  background-color: #d5e3df;
}

.deck-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  position: relative;

}
.table-cards {
  justify-content: flex-start;
}

.deck-card-style { 
  display: flex;
  width: 90px;
  height: 110px;
  gap: 5px;
  border: 1px solid #fff;
  background-color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
}
.cutting-opponent > .deck-card-style {
  top:120px;
  z-index: 100;
  border: 1px solid lightgray;
}
.cutting-you > .deck-card-style {
  bottom:120px;
  z-index: 100;
  border: 1px solid lightgray;
}
.card-header {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 18px;
}
.card-footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 18px;
}

#whosTurn, #whoCuts {
  font-size: 30px;
  color: #fff;
}